# PocketBase executável e arquivos de download
pocketbase.exe
pocketbase
pocketbase.zip
*.zip

# Dados do PocketBase (banco de dados, uploads, etc)
pb_data/
pb_public/uploads/

# Logs e arquivos temporários
*.log
*.tmp
.DS_Store

# Backups
*.db-backup
*.zip.backup

# Arquivos de ambiente/configuração local
.env
.env.local

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# goreleaser builds folder
/.builds/

# tests coverage
coverage.out

# plaintask todo files
*.todo

# generated markdown previews
README.html
CHANGELOG.html
CHANGELOG_16_22.html
CHANGELOG_8_15.html
LICENSE.html
